*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{ 
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
display: flex;
grid-gap: 30px;
justify-content: space-between;
align-items: center;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:large;
}
header p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
}

.p{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: url(./imagen/The-Boys-Red-Logo-Vector.jpg);
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

main{
    display: flex;
    justify-content: space-evenly ;
    
}
.carta{
    background-color: #DC080F;
    width: 400px;
    text-align: center;
    border: 3px solid gold;
    border-radius: 30px;
}
h2{
    color: yellow;
}

